body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-image: linear-gradient(to right, #1c18ff 0%, #43b9ce 51%, #6050f1 100%);
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  